/*http://paletton.com/#uid=55a0f0kd+oT36va7KqBmbnvtkks*/

.browsehappy {
    margin: 0.2em 0;
    border-top: 10px solid #ccc;
    color: #000;
    padding: 0.2em 0;
}

.featurette-heading {
    margin-top: 15%;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.featurette-image {
    padding-right: 20%;
    margin-top: 10%;
    position: relative;
    /* este valor corresponde a la mitad de su height */
    vertical-align: middle;
}

.featurette-image2 {
    padding-left: 20%;
    margin-top: 10%;
    position: relative;
    /* este valor corresponde a la mitad de su height */
    vertical-align: middle;
}

#myCarousel {
    background: #0E080E;
    box-shadow: black 20px 0px 50px 20px;
    height: 365px;
}


/*#0E080E;*/


/* Space out content a bit */

body {
    padding-top: 40px;
    padding-bottom: 20px;
    background: url("../images/fondo-inicio.png");
    /*#8C82C8;*/
}

.fondo-slide {
    background: #5a5a5a;
}
.imagenlogo{
    padding-left: 15px;
    margin-top: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
    background: #D4BFDD;
}


/* INPUTS */

.style-4 input {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.8s;
}

.style-4 input:focus,
.style-4 input.focus {
    border-bottom: solid 3px red;
}

input[type="submit"] {
    margin-left: 200px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    margin-top: 10px;
}

meter {
    height: 20px;
    margin-top: 10px;
    width: 70%;
    border: 1px solid black;
    box-shadow: 3px 3px 30px 3px black;
}


/* Custom page header */

.header {
    background: #fff;
    /*#D4BFDD;*/
    height: auto;
}

.menos-margin {
    margin-top: -20px;
}
.mucho-menos-margin{
    margin-top: -70px;
}

.center-block {
    text-align: center;
}

.menuInicial {
    text-align: center;
    margin-left: 50px;
}

.menuInicial:hover {
    background: black;
    transition: 1s;
}

.navbar {
    height: 40px;
    font-family: 'Lobster', cursive;
    background: #C7B4BF;
}

.navbar-brand {
    margin-top: 15px;
}

.important {
    color: red;
    font-weight: bold;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.text-muted {
    color: #920C35;
    font-family: 'Lobster', cursive;
    margin-top: 20px;
}

.letra {
    font-family: 'Fugaz One', cursive;
}

.logo {
    margin: 0px 0px -15px 0px;
}

.cara1 {
    position: absolute;
    margin: -110px 60px 100px 390px;
    z-index: 1;
}

.hand1 {
    position: absolute;
    margin: -140px -40px 0;
    z-index: 1;
    opacity: 0.5;
}

.wave2 {
    position: absolute;
    margin: -125px -5px 0;
}

.wave3 {
    position: absolute;
    margin: -140px -5px 0;
    z-index: 0;
}


/* Custom page footer */

.thumbnail,
.thumbnail2 {
    margin-left: auto;
    margin-top: 20px;
    background: none;
    color: white;
    -webkit-transition: 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.thumbnail3 {
    background: #B1647B;
    color: black;
    box-shadow: 3px 3px 40px 10px;
}

.thumbnail:hover {
    background: #9F5A81;
    color: black;
}

.thumbnail2:hover {
    background: #814981;
    color: black;
    box-shadow: 3px 3px 40px 10px;
}

.placeholder {
    margin-top: 10px;
}


/*FOOTER*/

.footer {
    padding-top: 19px;
    color: #A192A1;
    border-top: 10px solid #6A096A;
    text-align: center;
    background-color: #814981;
}

#text-3 {
    margin-top: -50px;
}

.phonefooter {
    color: #ffffff;
    font-weight: 400;
}

.phonefooter:hover {
    background: #fff;
    color: #DB0171 !important;
    text-shadow: 0 0 4px #DB0171;
}

.textwidget {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
}

.imagen1 {
    margin: 20px 0px 10px 20px;
}


/*INDEX3-*/


/*
footer#footer {
    padding: 20px 0px;
    height: auto;
    border-top: 1px solid #E0E0E0;
    box-shadow: 0px -1px 7px #AAA;
    background: #3E464C;
    font-size: 15px;
    line-height: 21px;
}

.footerSeparator {
    display: inline;
    float: left;
}

.footerColumn {
    display: inline;
    float: left;
    overflow: auto;
}

.footerContent {
    display: inline;
    float: left;
    overflow: hidden;
    margin-right: 0;
}

.footerTitle {
    font-size: 14px;
}

.myfooter {
    color: #201850;
}
*/

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 3px solid #0F083B;
    border-top: 1px solid #0F083B;
    background: #5C5393;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 430px) {
    .container {
        max-width: 1200px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 40px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    .error {
        width: auto;
        color: #550000;
        font-family: arial;
        opacity: 1;
        font-style: bold;
        font-size: small;
    }
    label {
        display: inline-block;
        width: 200px;
        text-align: right
    }
    /*.cara1 {
        display: none;
    }
    .hand1 {
        display: none;
    }
    .wave2 {
        display: none;
    }
    .wave3 {
        display: none;
    }*/
}
